<div class="container">

  <h1>Resources</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Address</th>
        <th>Capacities</th>
        <th>More Info</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |resource|}}
      <tr>
        <th>
          {{resource.uuid}}
          {{#tooltip-on-element event="click" onShow=(action "updateUuid" resource.uuid)}}
            {{#each-in capability as |capability values|}}
                {{#each values as |values|}}
                  {{capability}}: {{values.value}}
                {{/each}}
            {{/each-in}}
          {{/tooltip-on-element}}
        </th>
        <td>{{resource.description}}</td>
        <td>{{resource.address}}</td>
        <td>{{resource.capabilities}}</td>
        <td>{{#link-to 'resources.resource' resource.id}}more info{{/link-to}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
